---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { Content } from '../content/home.md';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="w-[720px] mx-auto pt-15 pb-15 pl-5 pr-5">
			<div class="prose">
				<Content />
			</div>
		</main>
		<Footer />
	</body>
</html>
