---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
const aClass = "inline-block group relative" + (isActive ? " font-bold border-b-accent" : "")
---
<div class={aClass} class:list={[className, { active: isActive }]} {...props}>
	<a href="#" class="block px-4 py-2">About</a>
	<ul class="absolute hidden group-hover:block bg-gray-800 text-white rounded-md w-48">
	<li><a href="/about/me" class="block px-4 py-2 hover:bg-gray-700">About Me</a></li>
	<li><a href="/about/site" class="block px-4 py-2 hover:bg-gray-700">About Site/Tech</a></li>
	</ul>
</div>
